* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Giga Sans', serif;
    
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #fff;
    position: relative;
    z-index: 100;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: 20px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

