html, body {
    width: 100%;
    height: 100%;
}
  
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f6f7fb;
    display: flex;
    max-height: 100vh;
    height: 950px;
    width: 1920px;
}

.login-page-pattern {
    width: 280px;
    height: 140px;
    margin-left: 352px;
}

.login-header {
    position: absolute;
    top: 176px;
    left: 398px;
}

.login-page-h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin: 0;
    color: #19191B;
}

.login-page-h2 {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    color: #757D8E;
}

.login-container {
    position: absolute;
    top: 276px;
    left: 266px;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    width: 452px;
    height: 397px;
    text-align: center;
}

/* Matn maydonchalari stilini o‘rnatamiz */
.login-container input,
.login-container input  {
    position: relative;
    top: 117px;
    left: 16px;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #DEE1EB;
    border-radius: 10px;
    align-items: center;
}

/* Tugma stilini o‘rnatamiz */
.login-container button {
    position: absolute;
    top: 329px;
    left: 16px;
    width: 420px;
    height: 52px;
    padding: 10px;
    background-color: #031F36;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

/* Kirish usullari tugmalari */
.tab-container {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    width: 420px;
    height: 48px;
    background-color: #eef0f4;
    margin-bottom: 16px;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    align-items: center;
}

/* Tugmalar stilini o‘rnatamiz */
.tab {
    cursor: pointer;
    padding: 10px;
    width: 56px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    color: #737E8E;
}

/* Faol tugmaning uslubi */
.tab.active {
    
}

.ugt-logo-1 {
    width: 287px;
    height: 130px;
    margin-left: 349px;
    margin-top: 733px;
    margin-bottom: 87px;
}