* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #f8f9fb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header-img {
    position: absolute;
    top: 0;
    left: 352px;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 176px;
    left: 398px;
}

.login-container {
    position: absolute;
    top: 276px;
    left: 266px;
    background: white;
    padding: 30px;
    border-radius: 16px;
    width: 100%;
    max-width: 452px;
    height: 397px;
    text-align: center;
}

.tabs {
    width: fit-content;
    max-width: 420px;
    max-height: 48px;
    background-color: #EEF0F4;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    gap: 2px;
    border: 5px solid #EEF0F4;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 500;
    color: #737E8E;
    background-color: #eef0f4;
    border-radius: 8px;
    font-size: 18px;
}

.tab.active {
    width: 101px;
    height: 40px;
    border-radius: 8px;
    background-color: white;
    color: #19191B;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 2px 8px rgba(16, 44, 87, 0.2);
}

h1 {
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: 600;
}

p.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #DEE1EB;
    border-radius: 10px;
    font-size: 14px;
}

.label-login {
    color: #19191B;
    font-weight: 500;
    font-size: 18px;
}

input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: #757D8E;
  padding-left: 2px;
}

.btn {
    width: 420px;
    width: 100%;
    height: 52px;
    padding: 12px;
    background-color: #031F36;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    margin-top: 70px;
}

.footer-img {
    position: absolute;
    top: 733px;
    left: 349px;
}

.footer {
    text-align: center;
    position: absolute;
    top: 860px;
    left: 350px;
    width: fit-content; /* yoki auto */
    max-width: 284px;
    height: fit-content; /* yoki auto */
    max-height: 58px;
}

.footer-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -2%;
    color: #031F36;
}

.footer-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #757D8E;
}